{% extends "car_rental/base.html" %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Car Listings</title>
  <style>
    .customers-container {
      margin-left: 30px;
    }
  </style>
</head>
<body>
  <div class="customers-container">
    <div class="customer">
      <a class="mr-2" style="font-weight: bold">Full Name:</a>
      <p class="article-content">{{ customer.name }}</p>
      <a class="mr-2" style="font-weight: bold">Email:</a>
      <p class="article-content">{{ customer.email }}</p>
      <a class="mr-2" style="font-weight: bold">Phone number:</a>
      <p class="article-content">{{ customer.phone_number }}</p>
      <a class="nav-link" href="{% url 'edit_customers' customer.id %}">Edit Customer <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="{% url 'delete_customers' customer.id %}">Delete Customer <span class="sr-only">(current)</span></a>
    </div>
  </div>
</body>
</html>
{% endblock %}